<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Resultado_cv.css') }}">
    <meta charset="UTF-8">
    <title>Resultado del CV</title>
</head>
<body>
    <div class="contenedor-cv">
        <h1>Resultado del análisis del CV</h1>
        <p><b>Similitud con el puesto:</b> {{ resultados['similitud'] }} %</p>
        <p><b>Skills detectados:</b>
            {% if resultados['skills'] %}
                {{ resultados['skills'] | join(', ') }}
            {% else %}
                Ninguna
            {% endif %}
        </p>
        <p><b> Datos del CV :</b></p>
        <pre>{{ resultados['texto'] }}</pre>
        <a href="{{ url_for('index') }}">Volver al inicio</a>
    </div>
</body>
</html>